[submodule "Black/Vendor/spdlog"]
	path = Black/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Black/Vendor/GLFW"]
	path = Black/Vendor/GLFW
	url = ../../AkshatPuri/glfw.git
[submodule "Black/Vendor/glm"]
	path = Black/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Black/Vendor/ImGui"]
	path = Black/Vendor/ImGui
	url = https://github.com/AkshatPuri/imgui